<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>changeTokenByIncrementalKey</key>
	<dict>
		<key>PHAGraphRebuildTaskIncrementalKey</key>
		<dict>
			<key>persistentChangeToken</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGpCwwTFx8gIScsVSRudWxs0w0ODxAREl8QFlBlcnNpc3Rl
			bnRIaXN0b3J5VG9rZW5XVmVyc2lvblYkY2xhc3OAAhABgAjSDxQV
			Fl8QIk5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbkRpY3Rpb25hcnmA
			B4AD0xgZDxocHldOUy5rZXlzWk5TLm9iamVjdHOhG4AEoR2ABYAG
			XxAkOTA4RTgzNEUtRUQ3RS00QjdELUFFNkEtQUYwMzJCMzI4MUM1
			EA/SIiMkJVokY2xhc3NuYW1lWCRjbGFzc2VzXE5TRGljdGlvbmFy
			eaIkJlhOU09iamVjdNIiIygpXxAZX05TUGVyc2lzdGVudEhpc3Rv
			cnlUb2tlbqMqKyZfEBlfTlNQZXJzaXN0ZW50SGlzdG9yeVRva2Vu
			XxAYTlNQZXJzaXN0ZW50SGlzdG9yeVRva2Vu0iIjLS5fEBdQSFBl
			cnNpc3RlbnRDaGFuZ2VUb2tlbqIvJl8QF1BIUGVyc2lzdGVudENo
			YW5nZVRva2VuAAgAEQAaACQAKQAyADcASQBMAFEAUwBdAGMAagCD
			AIsAkgCUAJYAmACdAMIAxADGAM0A1QDgAOIA5ADmAOgA6gERARMB
			GAEjASwBOQE8AUUBSgFmAWoBhgGhAaYBwAHDAAAAAAAAAgEAAAAA
			AAAAMAAAAAAAAAAAAAAAAAAAAd0=
			</data>
		</dict>
		<key>PHAMemoriesEnrichmentTask</key>
		<dict>
			<key>persistentChangeToken</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGpCwwTFx8gIScsVSRudWxs0w0ODxAREl8QFlBlcnNpc3Rl
			bnRIaXN0b3J5VG9rZW5XVmVyc2lvblYkY2xhc3OAAhABgAjSDxQV
			Fl8QIk5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbkRpY3Rpb25hcnmA
			B4AD0xgZDxocHldOUy5rZXlzWk5TLm9iamVjdHOhG4AEoR2ABYAG
			XxAkOTA4RTgzNEUtRUQ3RS00QjdELUFFNkEtQUYwMzJCMzI4MUM1
			EA/SIiMkJVokY2xhc3NuYW1lWCRjbGFzc2VzXE5TRGljdGlvbmFy
			eaIkJlhOU09iamVjdNIiIygpXxAZX05TUGVyc2lzdGVudEhpc3Rv
			cnlUb2tlbqMqKyZfEBlfTlNQZXJzaXN0ZW50SGlzdG9yeVRva2Vu
			XxAYTlNQZXJzaXN0ZW50SGlzdG9yeVRva2Vu0iIjLS5fEBdQSFBl
			cnNpc3RlbnRDaGFuZ2VUb2tlbqIvJl8QF1BIUGVyc2lzdGVudENo
			YW5nZVRva2VuAAgAEQAaACQAKQAyADcASQBMAFEAUwBdAGMAagCD
			AIsAkgCUAJYAmACdAMIAxADGAM0A1QDgAOIA5ADmAOgA6gERARMB
			GAEjASwBOQE8AUUBSgFmAWoBhgGhAaYBwAHDAAAAAAAAAgEAAAAA
			AAAAMAAAAAAAAAAAAAAAAAAAAd0=
			</data>
		</dict>
		<key>PHASearchEnrichmentTask</key>
		<dict>
			<key>persistentChangeToken</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGpCwwTFx8gIScsVSRudWxs0w0ODxAREl8QFlBlcnNpc3Rl
			bnRIaXN0b3J5VG9rZW5XVmVyc2lvblYkY2xhc3OAAhABgAjSDxQV
			Fl8QIk5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbkRpY3Rpb25hcnmA
			B4AD0xgZDxocHldOUy5rZXlzWk5TLm9iamVjdHOhG4AEoR2ABYAG
			XxAkOTA4RTgzNEUtRUQ3RS00QjdELUFFNkEtQUYwMzJCMzI4MUM1
			EA/SIiMkJVokY2xhc3NuYW1lWCRjbGFzc2VzXE5TRGljdGlvbmFy
			eaIkJlhOU09iamVjdNIiIygpXxAZX05TUGVyc2lzdGVudEhpc3Rv
			cnlUb2tlbqMqKyZfEBlfTlNQZXJzaXN0ZW50SGlzdG9yeVRva2Vu
			XxAYTlNQZXJzaXN0ZW50SGlzdG9yeVRva2Vu0iIjLS5fEBdQSFBl
			cnNpc3RlbnRDaGFuZ2VUb2tlbqIvJl8QF1BIUGVyc2lzdGVudENo
			YW5nZVRva2VuAAgAEQAaACQAKQAyADcASQBMAFEAUwBdAGMAagCD
			AIsAkgCUAJYAmACdAMIAxADGAM0A1QDgAOIA5ADmAOgA6gERARMB
			GAEjASwBOQE8AUUBSgFmAWoBhgGhAaYBwAHDAAAAAAAAAgEAAAAA
			AAAAMAAAAAAAAAAAAAAAAAAAAd0=
			</data>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>upgradeDate</key>
		<date>2024-10-24T08:05:12Z</date>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>nonIncrementalRunRecords</key>
	<dict>
		<key>PHAGraphRebuildTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-03-17T16:50:17Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>38554</real>
			<key>version</key>
			<integer>615</integer>
		</dict>
		<key>PHAMemoriesEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2024-10-24T18:47:47Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>38555</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHASearchEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-03-17T16:50:19Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>38554</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>records</key>
	<dict>
		<key>FeaturedCollectionElectionTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-03-17T16:50:19Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>38554</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>GraphSearchEntityRankingDonationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-03-17T16:50:19Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>38555</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAAssetRevGeocodeEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-03-17T18:30:18Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>38554</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHACachingCPAnalyticsPropertiesTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-03-09T22:41:02Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>11802950</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAContactUpdateTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-03-17T16:50:19Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>38555</real>
			<key>version</key>
			<integer>615</integer>
		</dict>
		<key>PHAExternalAssetsTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-03-17T16:50:19Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>38555</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAFeaturesUsageReportingTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-03-09T22:41:02Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>11802950</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAForcedHighlightEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-03-17T16:50:19Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCode</key>
			<integer>102</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAGraphRebuildTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-03-17T16:50:17Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>38554</real>
			<key>version</key>
			<integer>615</integer>
		</dict>
		<key>PHAHighlightCollectionEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-03-17T16:50:19Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>38554</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAHighlightEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-03-17T16:50:19Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCode</key>
			<integer>102</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMediaSampleReportingTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-03-09T22:41:02Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>11802950</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMemoriesEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-03-17T16:50:19Z</date>
			<key>didRunIncrementally</key>
			<true/>
			<key>fteInterval</key>
			<real>38555</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMemoryElectionTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-03-17T16:50:19Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCode</key>
			<integer>101</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAPeopleSuggestionEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-03-17T16:50:19Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>38555</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAPortraitDonationEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-03-17T17:11:39Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>38879</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHARevGeocodeSyndicationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-03-17T17:11:39Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>38879</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHASearchEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-03-17T16:50:19Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>38554</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHASuggestionGenerationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-03-17T16:50:19Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCheckpoint</key>
			<integer>30</integer>
			<key>featureCode</key>
			<integer>100</integer>
			<key>fteInterval</key>
			<real>38555</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHASyndicationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-03-17T16:50:19Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>38555</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAUserBehaviorEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-03-17T16:50:19Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>38555</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAWallpaperWeeklyTask[Shuffle|Ambient]</key>
		<dict>
			<key>completionDate</key>
			<date>2025-03-17T16:50:19Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCode</key>
			<integer>0</integer>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<key>SocialGroupsFTETask</key>
		<dict>
			<key>completionDate</key>
			<date>2024-10-24T08:05:39Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
